body{
    margin: 30px;
    background-color: rgb(32, 0, 61);
    
}

.my-container{
   
    max-width: 450px;

}
.my-row{
    border:1px solid grey;
   
   
    margin: auto;
}
.my-col{
    border:1px solid rgb(201, 201, 201);
    padding: 20px;
    margin: 0px;
}
.my-screen{
    padding:30px;
    
}
.my.header{
    color: azure;
}
h4 {
    color: rgb(0, 245, 151);
}
#scr{
    background-color: rgb(93, 82, 104);
}